@model List<SMSPools_App.Models.SmsAccountConfig>

@if (Model != null && Model.Any())
{
    Console.WriteLine(Model);
    @foreach (var acc in Model)
    {
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">@acc.Name</h5>
                <p class="card-text">Description of Server @acc.Id</p>
                <a href="javascript:void(0)" class="btn btn-primary rent-btn" data-id="@acc.Id">View Details</a>
            </div>
        </div>
    }
}
else
{
    <p>No available accounts.</p>
}


@section Scripts {
    <script>
        var isUserAuthenticated = @User.Identity.IsAuthenticated.ToString().ToLower()

        $(document).ready(function () {
            $('.rent-btn').on('click', function (e) {
                e.preventDefault();
                const id = $(this).data('id');
                let userToken = localStorage.getItem('userToken');

                if (!userToken) {
                    userToken = 'token_' + Math.random().toString(36).substr(2, 9);
                    localStorage.setItem('userToken', userToken);
                    toastr.success("New user token created.");
                }

                if (isUserAuthenticated) {
                    window.location.href = `/Home/Rent?id=${encodeURIComponent(id)}&userToken=${encodeURIComponent(userToken)}`;
                    return;
                }


                $.getJSON(`/Home/CheckUserTokenRegistered?userToken=${encodeURIComponent(userToken)}`, function (data) {
                    if (data.registered) {
                        toastr.success("User token is already registered.");
                        window.location.href = `/Account/Login?userToken=${encodeURIComponent(userToken)}&accId=${id}`;
                    } else {
                        window.location.href = `/Account/Register?userToken=${encodeURIComponent(userToken)}&accId=${id}`;
                    }
                });
            });
        });
    </script>
}