@model List<SMSPools_App.Models.SmsAccountConfig>

@if (Model != null && Model.Any())
{
    Console.WriteLine(Model);
    @foreach (var acc in Model)
    {
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">@acc.Name</h5>
                <p class="card-text">Description of Server @acc.Id</p>
                <a href="javascript:void(0)" class="btn btn-primary rent-btn" data-id="@acc.Id">View Details</a>
            </div>
        </div>
    }
}
else
{
    <p>No available accounts.</p>
}


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.rent-btn').on('click', function (e) {
               e.preventDefault();

               const id = $(this).data('id');
               let userToken = localStorage.getItem('userToken');

               if (!userToken) {
                   userToken = "user_" + Date.now() + "_" + Math.random().toString(36).substring(2, 10);
                   localStorage.setItem('userToken', userToken);
                   console.log("Created new userToken:", userToken);
               }

               const url = `/Home/Rent?id=${id}&userToken=${encodeURIComponent(userToken)}`;
               console.log("Redirecting to:", url);
               window.location.href = url;
            });
        });
    </script>
}