@model List<SMSPools_App.Models.SmsAccountConfig>

@if (Model != null && Model.Any())
{
    Console.WriteLine(Model);
    foreach (var acc in Model)
    {
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">@acc.Name</h5>
                <p class="card-text">Description of Server @acc.Id</p>
                <a href="@Url.Action("Rent", "Home", new { id = acc.Id })" class="btn btn-primary">View Details</a>
            </div>
        </div>
    }
}
else
{
    <p>No available accounts.</p>
}
